body {
    background-color: #1A1A1A;
    color: #AEAEAE;
}

h1 {
    color: #F5F5F5;
}

h2 {
    color: #AEAEAE
}

h2,
h3 {
    padding: 10px;
}

.output {
    color: green;
}

h2:hover {
    color: white;
}

.current {
    background-color: white;
    border-radius: 5px;
}

.current:hover {
    color: black;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}