body {
    background-color: #1A1A1A;
    color: #AEAEAE;
    margin-top: 5%;
    margin-bottom: 10%;
}
.output {
    color: green;
}
#input-header:hover, #output-header:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.row > i  {
    cursor: pointer;
}
.slider {
    margin-top: 10%;
    margin-bottom: 10%;
}
.nav {
    margin: 3%
}
.nav > h1 {
    color: #F5F5F5;
}
.row {
    margin-bottom: 3%;
}
#people-table {
    margin-top: 10%;
}
#projects-table {
    margin-top: 10%;
}
.column-heading {
    font-weight: 700;
}